<table width="1024" border="0" cellspacing="0" cellpadding="0" align="center">
  <tr>
    <td colspan="3" background="../images/ilnidodeimonelli01_01.gif" width="1024" height="154">&nbsp;</td>
  </tr>
  <tr>
    <td rowspan="2" background="../images/ilnidodeimonelli01_02.gif" width="187" height="614" valign="top">
      <div class="myMenu">
        <ul>
          <li>&raquo;&nbsp;<a href="../">Home</a></li>

          <li>&nbsp;&nbsp;&raquo;&nbsp;<a href="../?page=11">Spazi offerti</a></li>
          <li>&nbsp;&nbsp;&raquo;&nbsp;<a href="../?page=12">Le attivit&agrave;</a></li>
          <li>&nbsp;&nbsp;&raquo;&nbsp;<a href="../?page=13">Orari</a></li>

          <li>&raquo;&nbsp;<a href="#" onclick="javascript:openPopup();">WebCam</a></li>
          <li>&raquo;&nbsp;<a href="../photogallery?page=1">Galleria</a></li>
          <li>&raquo;&nbsp;<a href="../contacts">Contatti</a></li>
        </ul>
      </div>
    </td>
    <td background="../images/ilnidodeimonelli01_03.gif" width="651" height="563" class="myBody" valign="top">