<div>
  Indirizzo: Piazza Primo Maggio 3, 10055, Condove (TO)<br /> Telefono e Fax: (+39) 011 96 32 511<br /> Marta Gandaglia:
  (+39) 335 80 29 887<br /> Gloria Mola: (+39) 338 21 09 205<br /> E-mail: <a href="mailto:info@ilnidodeimonelli.it">info@ilnidodeimonelli.it</a><br
  />
</div>
<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.it/maps?f=q&amp;hl=it&amp;geocode=&amp;q=piazza+I+maggio,+Condove,+torino,+italy&amp;sll=41.442726,12.392578&amp;sspn=16.223995,35.507813&amp;ie=UTF8&amp;t=h&amp;om=1&amp;s=AARTsJp3m1wSLrtHtxhAu_woS1BkeL18dQ&amp;ll=45.11757,7.311337&amp;spn=0.0053,0.00912&amp;z=16&amp;iwloc=addr&amp;output=embed">
  </iframe>
<br />
<small><a href="https://maps.google.it/maps?f=q&amp;hl=it&amp;geocode=&amp;q=piazza+I+maggio,+Condove,+torino,+italy&amp;sll=41.442726,12.392578&amp;sspn=16.223995,35.507813&amp;ie=UTF8&amp;t=h&amp;om=1&amp;ll=45.11757,7.311337&amp;spn=0.0053,0.00912&amp;z=16&amp;iwloc=addr&amp;source=embed"
    style="color: #0000FF; text-align: left">Visualizzazione ingrandita della mappa</a>
  </small>