<h3>Quali spazi offre il nido?</h3>
<p>
  <b>Zona pappa</b><br /> Un simpatico salottino composto da seggiolini bassi adatti ai pi&ugrave; piccini, tavolini e sedioline
  invece per i pi&ugrave; grandicelli. Al nido serviamo pasti freschi e vari di giorno in giorno, grazie ad una cuoca interna
  specializzata che tutte le mattine fa la spesa e permette ai genitori di indicare particolari diete in qualunque momento.<br
  />
  <b>Zona lattanti</b><br /> Giochi ad hoc per lo sviluppo sensoriale, psico-motorio e psico-fisico dei lattanti.<br />
  <b>Zona divezzi</b><br /> Un'area di gioco libero studiata appositamente per i divezzi, munita altres&igrave; di un angolo
  riservato ai laboratori e alle attivit&agrave; guidate.<br />
  <b>Zona riposino</b><br /> Saletta dedicata ai lettini per lattanti, divezzini e divezzi.<br />
  <b>Area bagnetto e fasciatoio</b><br /> Un variopinto e piacevole bagno a misura di bimbo, con zona dedicata al cambio
  di lattanti e divezzini.<br />
  <b>Area esterna con giardino:</b> attrezzata con giochi all'aperto &egrave; ideale per le divertenti uscite ricreative
  dei bimbi.
</p>
</div>