<p>
  "Il Nido dei Monelli" offre ai bambini l'occasione di giocare per crescere e fare esperienze positive con i coetanei in un
  ambiente strutturato ed adeguato ai loro bisogni.
  <br /> E' un grazioso asilo nido privato di nuova apertura dedicato all'educazione, la crescita e il divertimento di lattanti
  (0-1 anno), divezzini (1-2 anni) e divezzi (2-3 anni). Il suo status indipendente gli permette di modellare direttamente
  la sua offerta sui bisogni di bimbi e famiglie, con:
  <ul>
    <li>aperto tutto l'anno, escluso il mese di agosto e i giorni festivi</li>
    <li>orario di apertura lungo e flessibile</li>
    <li>laboratori creativi personalizzabili</li>
    <li>pasti freschi e vari di giorno in giorno, grazie ad una cuoca interna specializzata che tutte le mattine fa la spesa
      e permette ai genitori di indicare particolari diete in qualunque momento</li>
    <li>giardinetto esterno e protetto per il divertimento all'aria aperta in totale sicurezza, sotto il costante monitoraggio
      delle insegnanti</li>
    <li>riscaldamento a pavimento, pi&ugrave; salutare per i bambini</li>
    <li>spigoli arrotondati, per evitare spiacevoli ferite</li>
    <li>pavimenti anti-trauma, per giocare in libert&agrave; e vivacità senza il timore di farsi male.</li>
  </ul>
</p>