<h3>Quali sono le attivit&agrave; che il bambino svolger&agrave; al nido?</h3>
<p>
  <b>I laboratori</b><br /> "Il Nido dei Monelli" coccola i vostri piccoli con i suoi laboratori guidati di ginnastica, fabulazione
  (ascolto e rappresentazione di fiabe, comprensione e sviluppi creativi, ...), manipolazione (alla scoperta di materiali
  malleabili riconoscibili sensorialmente, impasti di pongo, pane, farina in acqua, ...), pittura, musica e ritmica (costruzione
  di percussioni a partire dagli oggetti del quotidiano, produzione di suoni con il corpo, ...).<br />
  <br />
  <b>Il gioco</b><br /> Gioco libero e guidato, individuale e di gruppo, per scoprire se stessi, gli altri e il mondo che
  ci circonda. I giochi sono selezionati a seconda della fascia d'et&agrave; che ne usufruir&agrave;. Il bimbo &egrave; libero
  di esplorare l'ambiente che lo circonda scegliendo i giochi ed i compagni con cui relazionarsi, promuovendo così la propria
  autonomia.<br />
  <br />
  <b>Le feste</b><br /> Le festivit&agrave; dell'anno saranno vissute dai bimbi all'insegna della creativit&agrave; e della
  fantasia.
</p>