<h3>Com&eacute; organizzata la giornata al nido?</h3>
<p>
  <table border="0" cellspacing="1" cellpadding="5" class="myScheduleTable">
    <tr>
      <td>07:00 - 09:30</td>
      <td>ingresso e colazione</td>
    </tr>
    <tr>
      <td>09:30 - 11:00</td>
      <td>laboratori ed attivit&agrave; guidate</td>
    </tr>
    <tr>
      <td>11:15 - 12:45</td>
      <td>pappa e cambio pannolini</td>
    </tr>
    <tr>
      <td>13:00 - 15:00</td>
      <td>riposino (per i lattanti sono previsti pi&ugrave; riposini nel corso della giornata)</td>
    </tr>
    <tr>
      <td>15:00 - 15:30</td>
      <td>cambio pannolini e merendina</td>
    </tr>
    <tr>
      <td>15:30 - 19:00</td>
      <td>uscita e intrattenimenti, gioco libero e guidato</td>
    </tr>
  </table>
  <br /> N.B. L'opzione part-time prevede che i piccoli escano entro le 13:00 per non disturbare il riposino.
</p>
<h3>Quali sono i giorni di chiusura?</h3>
<p>
  Il nido resterà chiuso: il sabato, la domenica, nei giorni festivi e per tutto il mese di agosto.</p>