<tr>
  <td width="50%" height="40%" align="center">
    <a href="../images/photogallery/large/01_areaEsterna.jpg" rel="lightbox" title="Area esterna">
      <img src="../images/photogallery/small/01_areaEsterna.jpg" />
    </a>
  </td>
  <td width="50%" height="40%" align="center">
    <a href="../images/photogallery/large/02_zonaPappa.jpg" rel="lightbox" title="Zona pappa">
      <img src="../images/photogallery/small/02_zonaPappa.jpg" />
    </a>
  </td>
</tr>
<tr>
  <td width="50%" height="40%" align="center">
    <a href="../images/photogallery/large/03_zonaNanna.jpg" rel="lightbox" title="Zona nanna">
      <img src="../images/photogallery/small/03_zonaNanna.jpg" />
    </a>
  </td>
  <td width="50%" height="40%" align="center">
    <a href="../images/photogallery/large/04_bagnetti.jpg" rel="lightbox" title="Bagnetti">
      <img src="../images/photogallery/small/04_bagnetti.jpg" />
    </a>
  </td>
</tr>