<tr>
  <td width="50%" height="40%" align="center">
    <a href="../images/photogallery/large/10_visioneGenerale.jpg" rel="lightbox" title="Visione generale">
      <img src="../images/photogallery/small/10_visioneGenerale.jpg" />
    </a>
  </td>
  <td width="50%" height="40%" align="center">
    <a href="../images/photogallery/large/11_visioneGenerale.jpg" rel="lightbox" title="Visione generale">
      <img src="../images/photogallery/small/11_visioneGenerale.jpg" />
    </a>
  </td>
</tr>
<tr>
  <td width="50%" height="40%" align="center">
    <a href="../images/photogallery/large/09_visioneGenerale.jpg" rel="lightbox" title="Visione generale">
      <img src="../images/photogallery/small/09_visioneGenerale.jpg" />
    </a>
  </td>
  <td width="50%" height="40%" align="center">
    <a href="../images/photogallery/large/14_cucina.jpg" rel="lightbox" title="Cucina">
      <img src="../images/photogallery/small/14_cucina.jpg" />
    </a>
  </td>
</tr>