<tr>
  <td width="50%" height="40%" align="center">
    <a href="../images/photogallery/large/05_zonaCambio.jpg" rel="lightbox" title="Zona cambio">
      <img src="../images/photogallery/small/05_zonaCambio.jpg" />
    </a>
  </td>
  <td width="50%" height="40%" align="center">
    <a href="../images/photogallery/large/06_zonaLattanti.jpg" rel="lightbox" title="Zona lattanti">
      <img src="../images/photogallery/small/06_zonaLattanti.jpg" />
    </a>
  </td>
</tr>
<tr>
  <td width="50%" height="40%" align="center">
    <a href="../images/photogallery/large/07_zonaGioco.jpg" rel="lightbox" title="Zona gioco">
      <img src="../images/photogallery/small/07_zonaGioco.jpg" />
    </a>
  </td>
  <td width="50%" height="40%" align="center">
    <a href="../images/photogallery/large/08_visioneGenerale.jpg" rel="lightbox" title="Visione generale">
      <img src="../images/photogallery/small/08_visioneGenerale.jpg" />
    </a>
  </td>
</tr>