doctype html
html
  head
    title= title
    meta(http-equiv="REFRESH" content="10; url=gallery")
    link(rel='stylesheet', href='/stylesheets/eits.style.css')
  body
    form(method='POST')
      div#divGallery
        img(alt="test.jpg" src="https://www.dropbox.com/s/gzvin137hlsnt76/test.jpg?dl=0" id="img001")