doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/eits.style.css')
  body
    form(method='POST')
      div#divLogin
        include _login.html
        input(type="hidden" id="hdnMessage" value=message)
        script.
          (function(){
            document.getElementById('spnMessage').innerHTML = document.getElementById('hdnMessage').value;
          })();
